version: "3.8"

services:
    # Service Web Baru (Akses di Port 8000)
    web_v2:
        image: nginx:stable-alpine
        ports:
            - "8000:80" # Akses web di http://localhost:8000
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app_v2

    # Service Aplikasi Baru (PHP 8.4)
    app_v2:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/var/www/html
        environment:
            DB_HOST: db_v2 # Host DB baru

    # Service Database Baru (MySQL 8.0, Port 3308)
    db_v2:
        image: mysql:8.0
        ports:
            - "3308:3306" # Port DB yang berbeda dari V1 (3307)
        environment:
            MYSQL_ROOT_PASSWORD: secret_v2
            MYSQL_DATABASE: php8_db
        volumes:
            - dbdata_v2:/var/lib/mysql

volumes:
    dbdata_v2: ~
